*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 800px;
	position: relative;
	overflow: hidden;
}

.video {
	width: 100%;
}

.controls {
	display: flex;
	position: absolute;
	bottom: 0;
	flex-wrap: wrap;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	transform: translateY(95%);
	transition: all 0.2s;
}

.container:hover .controls {
	transform: translateY(0);
}

.buttons {
    padding: 5px 10px 10px;
}

.buttons button {
    background: none;
    cursor: pointer;
    outline: 0;
    border: 0;
    color: #fff;
}

#mute {
    position: relative;
    top: -5px;
    margin: 0 12px;
}

#play__pause {
    width: 30px;
    position: relative;
    top: 5px;
}

.progress__bar {
    width: 100%;
    height: 10px;
    background: black;
    cursor: pointer;
}

.progress {
    height: 10px;
    background: orangered;
}

#fullscreen {
    position: absolute;
    right: 15px;
    top: 25px;
}

#fullscreen img {
    width: 20px;
}
