body {
	background-image: url('./ressources/536-5364625_0-1488635277154-space-1-space-invaders-arcade-start.png');
	background-size: cover;
	background-repeat: no-repeat;
}

h3 {
	color: black;
	margin: 20px;
	text-align: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
	background: url(./ressources/background-black.png);
	animation: background-defile 5s linear infinite;
}

@keyframes background-defile {
	from {
		background-position-y: 0px;
	}
	to {
		background-position-y: 43rem;
	}
}

.grid div {
	width: 25px;
	height: 25px;
}

.shooter {
	background: url(./ressources/vaisseau.png);
	transform: rotate(180deg);
	background-position: center;
	background-size: contain;
}

.alien {
	background: url(./ressources/ennemies.png);
	background-position: center;
	background-size: contain;
}

.boom {
	background-color: red;
}

.laser {
	background-color: orange;
}
